@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --txt-dark:rgb(0, 0, 0);
    --txt-white:rgb(255, 255, 255);

    --bg-white: rgb(255, 255, 255);

    --border-color-dark: rgb(0, 0, 0);
    
    --accent-color: rgb(32, 128, 192);
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    font-family: "Inconsolata";
    
    background-color: rgb(31, 29, 29);
}

/* Initial Loading window */
.init-window {
    display: flex;

    width: 100%;
    height: 100%;

    background-color: rgb(31, 29, 29);
    outline: 0.3vw solid rgb(32, 128, 192);

    z-index: 9999;
}

.init-window.dissapear {
    animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-110vh);
    }
}

.init-box {
    position: absolute;
    top: 45%;
    left: 45%;

    font-size: 2.5vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;

    padding: 15px 10px;

    background-color: var(--accent-color);
    outline: 0.3vw solid var(--border-color-dark);
    box-shadow: 0.9vw 0.9vw 0px 0px var(--border-color-dark);

    animation: bounce 1s ease-in-out infinite;

    z-index: 9999;
}

@keyframes bounce {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

/* Progress bar */
.progress-bar {
    position: absolute;
    left: 2.5%;
    bottom: 5%;

    width: 95%;
    height: 4%;

    background-color: white;
    outline: 0.3vw solid var(--border-color-dark);
    box-shadow: 0.7vw 0.7vw 0px 0px var(--border-color-dark);

    z-index: 9999;
}

.progression {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: 
    linear-gradient(to right, rgb(128, 151, 255), rgb(83, 71, 255));

    animation: progressExpand 1.6s ease-in-out;

    z-index: 9999;
}

@keyframes progressExpand {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* ---------- Nav bar ---------- */
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 10%;

    outline: 0.3vw solid var(--border-color-dark);
    box-shadow: 0.6vw 0.6vw 0px 0px var(--border-color-dark);
    background-color: white;

    z-index: 10;
}

.nav-brand {
    position: absolute;
    top: 0;
    left: 45%;

    margin: 0;
    width: 100px;

    font-size: 5vw;
    font-weight: 800;
    letter-spacing: -0.08rem;
    text-transform: uppercase;
}

/* ---------- Main window ---------- */
.main-window-container {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

/* ---------- Settings ----------(10-dashes)*/
.settings-icon {
    position: absolute;
    top: 5%;
    right: 0;

    width: 5%;
    height: 80%;
}

.settings-icon.clicked {
    animation: spin 0.5s ease-in-out;
}

.settings-icon.clickedRev {
    animation: spinRev 0.5s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinRev {
        0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.settings {
    position: absolute;
    top: 1%;
    right: 3%;
} 

.settings.hidden {
    transform: translateX(200px);
}


/* ---------- Game Page Window ---------- */
.game-page-window {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
}

.loop-background {
    position: fixed;
    right: 0;
    bottom: 0;

    place-items: center;

    min-width: 100%;
    min-height: 100%;

    z-index: -2;
}