@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Inconsolata";

  margin: 0;
  background-color: black;
  overflow: hidden;
}

/* Loading screen */
.loading-screen {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: 0;

  background-color: rgb(70, 87, 129);

  z-index: 9999;

  animation: disappear 8s ease-in-out forwards;
}

@keyframes disappear {
  0% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}

.heavenly-body {
  position: absolute;
  top: 20%;
  left: 22%;

  width: 60%;
  height: 60%;

  margin: 0;

  animation: scaleUp 5s ease-in-out forwards;
}

.header {
  position: absolute;
  top: 48%;
  left: 48.5%;

  font-size: 2.2vw;
  font-weight: 800;
  color: #fff;
  text-shadow:
      1px 1px 0px #ccc,
      2px 2px 0px #bbb,
      3px 3px 0px rgba(0,0,0,0.4);

  animation: fadeInText 5s ease-in-out forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.orbit-1 {
  position: absolute;
  top: 20%;
  left: 22%;

  width: 60%;
  height: 60%;

  margin: 0;
  
  animation: rotateLeft 5s ease-in-out forwards;
}

.orbit-2 {
  position: absolute;
  top: 20%;
  left: 22%;

  width: 60%;
  height: 60%;

  margin: 0;

  animation: rotateRight 5s ease-in-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) scale(1.5);
  }
}

/* ------ game Area ------ */
#game-area {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;

  width: 100%;
  height: 100%;
}

/* Item count */
.item-count {
  position: absolute;
  right: 2%;
  top: 2%;

  width: 3%;
  height: 3%;

  padding: 0.1vw 0.5vw;
  background-color: rgba(20, 21, 31, 0);
  outline: 0.1vw solid white;
  box-shadow: 0.2vw 0.2vw 0 0 white;

  z-index: 8999;
}

.planet {
  position: absolute;
  top: 0.3vw;
  left: 0.5vw;

  width: 25%;
  height: 70%;

  border-radius: 1vw;

  background-color: aqua;
  box-shadow: 0 0 1vw 0.1vw aqua;
}

.count {
  position: absolute;
  right: 8%;

  font-size: 1.3vw;

  color: white;
}

/* ----- TUTORIAL SCREEN ----- */
.tutorial-screen {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;

  font-family: "Space Grotesk";
  font-weight: 800;
  color: white;

  width: 100%;
  height: 100%;

  background-color: rgba(21, 26, 39, 0.521);
  outline: 0.2vw solid rgb(34, 34, 34);
  box-shadow: 0 0 2vw 0 rgb(71, 71, 201);

  animation: fadeAFT 13s ease-in-out forwards;
}

@keyframes fadeAFT {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Space screen */
.space-screen {
  position: absolute;
  top: 50%;
  left: 34%;

  display: flex;

  font-size: 2vw;
  text-align: center;

  width: 50%;
  height: 30%;
}

.space-img {
  width: 20%;
  height: 20%;
  
  padding: 0 3%;
}

/* Enter Screen */
.enter-screen {
  position: absolute;
  top: 60%;
  left: 40%;

  display: flex;

  font-size: 2vw;
  text-align: center;

  width: 50%;
  height: 30%;
}

.enter-img {
  width: 7%;
  height: 25%;
  
  padding: 0 3%;
}

/* Top-mid level bar */
.level-bar {
  position: absolute;
  top: 2%;
  left: 47%;

  font-family: "Inconsolata";
  font-weight: 600;
  font-size: 1.2vw;
  color: white;

  margin: 0;

  padding: 0.2vw 1.5vw;
  border-radius: 0.1vw;
  background-color: rgba(34, 33, 33, 0);
  box-shadow: 0.15vw 0.15vw 0 0 white;
  outline: 0.1vw solid rgb(167, 161, 161);
}

/* DNF screen */
.dnf {
  position: absolute;
  top: 45%;
  left: 45%;

  font-size: 6vw;
  font-weight: 700;
  color: rgb(177, 32, 32);

  opacity: 1;

  transition: 0.2s ease-in-out;

  z-index: 9000;
}

.dnf.hide {
  opacity: 0;
  z-index: -1; 
}

/* Level Completed screen */
.level-completed {
  position: absolute;
  top: 40%;
  left: 40%;

  font-size: 6vw;
  font-weight: 700;
  color: rgb(32, 192, 99);

  margin: 0;

  opacity: 1;

  transition: 0.2s ease-in-out;

  z-index: 9999;
}

.level-completed.hide {
  opacity: 0;
  z-index: -1;
}