@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: rgb(90, 87, 87);
    overflow: hidden;

    font-family: "Comic Relief";
}

/* loading screen */
.loading-screen {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    background-color: rgb(31, 29, 29);

    z-index: 9999;
}

.loading-screen.disappear {
    animation: disappear 0.5s ease-in-out forwards;
}

@keyframes disappear {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* HEADER */
.header {
    position: absolute;
    top: 42%;
    left: 39%;

    font-size: 5rem;
    color: rgb(255, 255, 255);

    transition: 0.2s ease-in-out;

    opacity: 1;
}

.header.anim {
    animation: popBeat 0.5s ease-in-out;
}

@keyframes popBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.header.hide {
    opacity: 0;
}

/* Line numero uno */
.line-1 {
    position: absolute;
    top: 80%;
    left: 25%;

    width: 51%;
    height: 2%;

    background-color: greenyellow;
    box-shadow: 0.7vw 0.7vw 0 0 rgb(255, 255, 255);

    transform-origin: right;
    
    animation: lineRightToLeft 0.5s ease-in-out;
}

.line-1.hide {
    display: none;
}

@keyframes lineRightToLeft {
    0% {
        transform: scaleX(0);
        box-shadow: none;
    }
    100% {
        transform: scaleX(1);
    }
}

/* Line numero dos */
.line-2 {
    position: absolute;
    top: 20%;
    left: 25%;

    width: 1.5%;
    height: 60%;

    background-color: greenyellow;
    box-shadow: 0.7vw 0.9vw 0 0 rgb(255, 255, 255);

    transform-origin: bottom;
    
    animation: lineBottomToTop 0.5s ease-in-out;

    z-index: -1;
}

.line-2.hide {
    display: none;
}

@keyframes lineBottomToTop {
    0% {
        transform: scaleY(0);
        box-shadow: none;
    }
    100% {
        transform: scaleY(1);
    }
}

/* Line numero tres */
.line-3 {
     position: absolute;
    top: 20%;
    left: 25%;

    width: 50%;
    height: 2%;

    background-color: greenyellow;
    box-shadow: 0.7vw 0.7vw 0 0 rgb(255, 255, 255);

    transform-origin: left;
    
    animation: lineLeftToRight 0.5s ease-in-out;

    z-index: -2;
}

.line-3.hide {
    display: none;
}

@keyframes lineLeftToRight {
    0% {
        transform: scaleX(0);
        box-shadow: none;
    }
    100% {
        transform: scaleX(1);
    }
}

/* Linus numero quatro */
.line-4 {
    position: absolute;
    top: 20%;
    left: 75%;

    width: 1.5%;
    height: 62%;

    background-color: greenyellow;
    box-shadow: 0.7vw 0.7vw 0 0 rgb(255, 255, 255);

    transform-origin: top;
    
    animation: lineTopToBottom 0.5s ease-in-out;
}

.line-4.hide {
    display: none;
}

@keyframes lineTopToBottom {
    0% {
        transform: scaleY(0);
        box-shadow: none;
    }
    100% {
        transform: scaleY(1);
    }
}

/* Game section */
.game-area {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.snake-title {
    position: absolute;
    top: 0%;
    left: 45%;

    margin: 0;

    font-size: 3.6vw;
}

.snake-board {
    position: absolute;
    top: 20%;
    left: 25%;

    width: 50%;
    height: 70%;

    background-color: transparent;
    outline: 1vw solid rgb(103, 114, 101);
    box-shadow: 1.5vw 1.5vw 0px 0px rgb(255, 255, 255);
}

.board-canvas {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}