@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* IMPL font */
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --bg-color: rgb(236, 236, 236);
    --text-color: rgb(0, 0, 0);

    --outline-accent: rgb(32, 128, 192);
    --shadow: rgb(0, 0, 0);


}

:root.dark {
    --bg-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);

    --outline-accent: rgb(32, 128, 192);
    --shadow: rgb(4, 80, 131);
}

body {
    background-color: var(--bg-color);
    overflow: hidden;

    font-family: "Space Grotesk";
}

/* loading screen */
.loading-screen {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    background-color: var(--bg-color);

    z-index: 9999;
}

.loading-screen.disappear {
    animation: disappear 0.5s ease-in-out forwards;
}

@keyframes disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-120%);
    }
}

/* HEADER */
.header {
    position: absolute;
    top: 42%;
    left: 40%;

    font-size: 5vw;
    font-weight: 800;
    color: var(--text-color);

    transition: 0.2s ease-in-out;

    opacity: 1;
}

.header.anim {
    animation: popBeat 0.5s ease-in-out;
}

@keyframes popBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.header.hide {
    opacity: 0;
}

/* Ask for permission sob */
.perm {
    position: absolute;
    top: 40%;
    left: 35%;
    
    font-size: 5vw;

    color: var(--text-color);
    text-shadow: 0.4vw 0.4vw 0 rgb(255, 104, 104);

    transision: 0.2s ease-in-out;
}

.perm.hide {
    opacity: 0;
}

/* Line numero uno */
.line-1 {
    position: absolute;
    top: 80%;
    left: 25%;

    width: 51%;
    height: 2%;

    background-color: var(--outline-accent);
    box-shadow: 0.7vw 0.7vw 0 0 var(--shadow);

    transform-origin: right;
    
    animation: lineRightToLeft 0.5s ease-in-out;
}

.line-1.hide {
    display: none;
}

@keyframes lineRightToLeft {
    0% {
        transform: scaleX(0);
        box-shadow: none;
    }
    100% {
        transform: scaleX(1);
    }
}

/* Line numero dos */
.line-2 {
    position: absolute;
    top: 20%;
    left: 25%;

    width: 1.5%;
    height: 60%;

    background-color: var(--outline-accent);
    box-shadow: 0.7vw 0.9vw 0 0 var(--shadow);

    transform-origin: bottom;
    
    animation: lineBottomToTop 0.5s ease-in-out;

    z-index: -1;
}

.line-2.hide {
    display: none;
}

@keyframes lineBottomToTop {
    0% {
        transform: scaleY(0);
        box-shadow: none;
    }
    100% {
        transform: scaleY(1);
    }
}

/* Line numero tres */
.line-3 {
     position: absolute;
    top: 20%;
    left: 25%;

    width: 50%;
    height: 2%;

    background-color: var(--outline-accent);
    box-shadow: 0.7vw 0.7vw 0 0 var(--shadow);

    transform-origin: left;
    
    animation: lineLeftToRight 0.5s ease-in-out;

    z-index: -2;
}

.line-3.hide {
    display: none;
}

@keyframes lineLeftToRight {
    0% {
        transform: scaleX(0);
        box-shadow: none;
    }
    100% {
        transform: scaleX(1);
    }
}

/* Linus numero quatro */
.line-4 {
    position: absolute;
    top: 20%;
    left: 75%;

    width: 1.5%;
    height: 62%;

    background-color: var(--outline-accent);
    box-shadow: 0.7vw 0.7vw 0 0 var(--shadow);

    transform-origin: top;
    
    animation: lineTopToBottom 0.5s ease-in-out;
}

.line-4.hide {
    display: none;
}

@keyframes lineTopToBottom {
    0% {
        transform: scaleY(0);
        box-shadow: none;
    }
    100% {
        transform: scaleY(1);
    }
}

/* Game section */
.game-area {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.snake-title {
    position: absolute;
    top: 0%;
    left: 45%;

    margin: 0;

    font-size: 3.6vw;

    text-shadow: 0.2vw 0.2vw 0 rgba(0, 0, 0, 0.2);
}

.snake-board {
    position: absolute;
    top: 20%;
    left: 25%;

    width: 50%;
    height: 70%;

    background-color: transparent;
    outline: 1vw solid var(--outline-accent);
    box-shadow: 1.5vw 1.5vw 0px 0px var(--shadow);
}

.board-canvas {
    position: absolute;
    top: 0;
    left: 0;
}